<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <!-- NavbarSupportedContent -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse mt-1 text-center" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link mr-3" href="/">Home</a>
                </li>
                <li class="nav-item mr-3">
                    <a class="nav-link" href="about">About</a>
                </li>
                <li class="nav-item mr-3 active">
                    <a class="nav-link" href="">Contacts<span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </nav>
    </header>
    <div class="m-3">
        <p>Інформаційна система меблів</p>
        <p>Шерстюк Олена 308 група</p>
        <p>Тел.: +380990796025</p>
        <p>Пошта: lenochka.sherstyuk@gmail.com</p>
    </div>
</body>
</html>